.page-template-about-php .entry-content{
    display: flex;
    flex-direction: column;
    margin:0 2.4rem;
    @include desktop{
        text-align: left;
        margin:0 200px;
    }
    p{
        color:$color__main;

        @include desktop{ 
            font-size: 20px;
            line-height: 24px;
            margin: 5px;
        }
    }
}

.subtitle{
    font-family: $font__subtitle;
    font-size: 30px;
}

.page-template-about-php .entry-header{
    text-align: center;
    font-family: $font__title;
}

.page-template-about-php .all-button{
    @include desktop{
        height: 54px;
        width:198px;
    }
    a{
        font-size: 1rem;
        line-height: 19px;
    }
}

.page-template-about-php .has-2-columns{
    padding-top:30px;
}
