.map-wrapper {
  margin: 0 auto;
}

.map-wrapper,
iframe.maps {
  width: 400px;
  height: 300px;
  overflow: hidden;
  // border-radius: 2rem;
  border-radius: 0.6rem;
  border: 2px solid $color__main;
}

.page-template-contact .site-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .entry-title {
    // text-align: center;
    // font-size: $size__title;
    // color: $color__main;

    @include tablet {
      margin: 0;
    }
  }

  h3 {
    // text-align: center;
    // font-size: $size__subtitle;
    // text-transform: uppercase;
    // color: $color__main;
    margin-top: 0;
  }

  a {
    &:hover {
      color: $color__highlight;
    }
  }
}

.site-location {
  overflow: hidden;

  .wp-block-column {
    height: 575px;

    @include tablet {
      // padding-right: 1rem;
      margin: $base__space-unit/2;
    }
  }

  // &:last-child {
  //   @include desktop {
  //     padding-left: 1rem;
  //   }
  // }
}

.location-hours {
  color: #ffffff;
  background: $color__main;
  font-size: $size__body;
  padding: 0.6rem;
  // width: 350px;
  margin: $base__space-unit 0 0;

  @include tablet {
    border-radius: 0.6rem;
  }
}

.location-name {
  font-size: $size__body;

}