footer {
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lato-Regular';

        p {
                margin: 0;
            }

        a {
            text-decoration: none;
            color: white;
        
        &:hover {
            color: #fab0bc;
        }
}
}
.widget_text {
    margin-bottom: .5rem;
}
.alignnone {
    width: 40px;
    margin: .5rem;
    margin-bottom: 0rem;
}
.widget-title {
    margin: .5rem;
}
.joyce-phonenumber, .annex-phonenumber {
    margin-bottom: 1rem;
}
.careers-link {
    margin-top: 1.5rem;
}
@include desktop {
footer {
    // background-color: red;
}
.widget-area {
    margin: auto;
    display: flex;
    flex-direction: row;
}
}
