footer {
    background-color: #393947;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lato-Regular';

        p {
                margin: 0;
            }
            ul {
                padding-left: 0;
                margin-left: 0;
                margin-top: 1.0625rem;
            }
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: white;
        &:hover {
            color: #fab0bc;
        }
}
}
.widget_text {
    margin-bottom: .5rem;
}
.alignnone {
    width: 40px;
    margin: .5rem;
    margin-bottom: 0rem;
}
.widget-title {
    margin: .5rem;
}
.joyce-phonenumber, .annex-phonenumber {
    margin-bottom: 1rem;
}
.careers-link {
    margin-top: 1.5rem;
}
#custom_html-5 {
    display: none;
}
@include desktop {
footer {
    // background-color: red;
    ul {
        margin: 0;
        padding: 0;
        text-align: left;
        margin-bottom: 1rem;
        margin-top: .625rem;
    }
    img {
        margin-top: 0;
    }
}
.widget_text {
    margin-bottom: 0;
}
.desktop-footer-locations {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.joyce-location-details {
    border-right: white 5px solid;
    padding-right: 1.375rem;
}
.joyce-location-details, .annex-location-details, .main-house, .annex {
    text-align: left;
}
.main-house, .annex {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.25rem;
}
.desktop-annex {
    margin-left: 1.375rem;
}
.wp-image-307 {
    margin-left: 0;
}
.widget-area {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    margin-top: 2.0625rem;
    margin-bottom: 1.4375rem;
}
#custom_html-5 {
    display: inherit;
}
#custom_html-4, #custom_html-3 {
    display: none;
}
}
