footer {
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lato-Regular';
        p {
                margin: 0;
            }
}
.widget_text {
    margin-bottom: .5rem;
}
.alignnone {
    width: 40px;
    margin: .5rem;
    margin-bottom: 0rem;
}
.widget-title {
    margin: .5rem;
}
.joyce-phonenumber, .annex-phonenumber {
    margin-bottom: 1rem;
}
.careers-link {
    margin-top: 1.5rem;
}