/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-radius: 0.5rem;
  border-color: $color__button;
  background: $color__button;
  font-family: $font__subtitle;
  text-transform: uppercase;
  @include font-size(0.75);
  line-height: 1;
  padding: $base__space-unit / 2.5;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.75;
  }
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
    color: #111;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/* Search Form */
.site-header .search-form {
  // width: 300px;

  fieldset {
    border-radius: 0.5rem;
  }

  .search-field {
    margin-top: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    height: 26px;
    width: 250px;
    // font-family: $font__accent;
    // display: none;
    text-decoration: none;

    @include tablet {
      width: 200px;
    }

    &:focus {
      border: none;
      cursor: text;
      outline: 0;
      width: 250px;

      @include tablet {
        width: 200px;
      }
    }
  }

  .search-submit {
    display: none;

    @include desktop {
      display: block;
    }
  }

  .search-icon {
    @include desktop {
      display: none;
    }
  }
}