/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border-radius: 0.5rem;
  border-color: $color__button;
  background: $color__button;
  font-family: $font__subtitle;
  text-transform: uppercase;
  @include font-size(0.75);
  line-height: 1;
  padding: $base__space-unit / 2.5;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.75;
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='tel'],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='tel'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}

/* Search Form */
.site-header .search-form {

  fieldset {
    border-radius: 0.5rem;
  }

  .search-field {
    margin-top: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    height: 26px;
    width: 250px;
    text-decoration: none;

    @include tablet {
      width: 200px;
    }

    &:focus {
      border: none;
      cursor: text;
      outline: 0;
      width: 250px;

      @include tablet {
        width: 200px;
      }
    }
  }

  .search-submit {
    display: none;

    @include desktop {
      display: block;
    }
  }

  .search-icon {
    @include desktop {
      display: none;
    }
  }
}

// Rental Quote Form
.page-template-page-no-sidebar {
  .site-content {
    .content-area {
      .wpcf7-form {
        @include flex(null, center, center);
        flex-wrap: wrap;
        text-align: left;

        input,
        textarea {
          background: $color__background-form;
          margin-top: $base__space-unit / 2;
        }

        div {
          margin: $base__space-unit/3 0;
          @include tablet {
            width: 50%;
            &:nth-of-type(2) {
              order: 1;
            }
            &:nth-of-type(3) {
              order: 3;
            }
            &:nth-of-type(4) {
              order: 5;
            }
            &:nth-of-type(5) {
              order: 7;
            }
            &:nth-of-type(6) {
              order: 2;
            }
            &:nth-of-type(7) {
              order: 4;
            }
            &:nth-of-type(8) {
              order: 6;
            }
            &:nth-of-type(9) {
              order: 7;
            }
            &:nth-of-type(10) {
              order: 8;
              width: 100%;
            }
          }
        }

        p {
          order: 9;
          width: 100%;
          text-align: right;
        }

        div.rental-time {
          display: inline-flex;

          div {
            margin: 0 0 0 $base__space-unit/2;
            width: 25%;
          }

          .your-start-time,
          .your-end-time {
            input {
              width: 93%;
            }
          }
        }

        div:last-of-type {
          margin-bottom: 0;
        }

        input[type='submit'] {
          background: $color__button;
          font-size: $size__body;
          padding: $base__space-unit/1.5 $base__space-unit * 3;
          text-align: center;
        }

        .ajax-loader {
          display: none;
        }
      }

      .received {
        display: none;
      }
    }
  }
}
