
.home .site-content {
    width: 100%;
}
.entry-header {
    height: 190px;
    img {
    transform: translateY(-39%);
    z-index: -1;
}
}
.home-title {
    position: absolute;
    top: 30px;
    width: 75%;
    left: 50%;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.35pt;
    transform: translateX(-50%)
}
.home-subtitle {
    display: none;
}
.wp-block-column {

    .wp-block-image {
        width: 280px;
        height: 56px;
        display: flex;
        margin: auto;
        margin-bottom: 2.5rem;
    }
    img {
        width: 56px;
        margin-right: 1.5rem;
    }
    figcaption {
        text-align: left;
        letter-spacing: .85pt;
        font-size: 15px;
        line-height: 18pt;
        margin-top: 0;
    }
}
.we-are-a-place-buttons {
    display: none!important;
}
.instalame-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    .photo {
        width: 280px;
        height: auto;
    } 
    .photo:last-child {
        display: none;
    }
}
.follow-box {
    display: none;
}
.upcoming-events-title, .instagram-updates-title, .we-are-a-place-title {
    display: flex;
    justify-content: center;
    color: #282460;
    font-family: $font__subtitle;
    text-transform: initial;
    font-size: 1.625rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1.05
}
.upcoming-events {
    width: 275px;
    margin: auto;  
}
.date {
    background-color: #282460;
    border-radius: 10px 0 0 10px;
    width: 40%;
    color: white;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    .date-text-container {
        display: flex;
        justify-content: center;
    }
    .day {
        display: none;
    }
    p {
        margin-bottom: 1.5rem;
        margin: auto;
        width: 40%;
        font-weight: 900;
        font-family: 'Lato-Black';
        text-align: center;
    }
}
.eventimg {
    line-height: 0;
    img {
        height: 100%;
        border-radius: 0 10px 10px 0;
    }
}

.singular-event {
    display: flex;
    height: 105px;
    margin-top: 1.375rem;
    
}
.location-box {
    height: 30px;
    position: relative;
    bottom: 29%;
    justify-content: center;
    display: flex;
    color: white;
    background-color: #282460b9;
    border-radius: 0 0 10px 0;

    a {
        position: relative;
        top: 15px;
        color: white;
        &:visited {
            color: inherit;
        }
    }
}
.hover-details {
    display: none;
    padding: 2rem;
    border: 1px solid #282460;
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    background-color: #ffffff98;
}
.view-calendar-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.view-calendar {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #fab568;
    color: #282460;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: $font__title;
}
@include desktop {
    .entry-header {
        height: 475px;
    }
    .home-title {
        top: 25px;
        width: 65%;
        left: 50%;
        font-size: 55px;
        text-transform: none;
        line-height: 65px;
        letter-spacing: 3.66px;
        margin-bottom: 1rem;
        transform: translateX(-50%);
    }
    .home-subtitle {
        display: initial;
        position: absolute;
        top: 225px;
        left: 50%;
        font-size: 25px;
        margin-top: .5rem;
        text-transform: none;
        transform: translateX(-50%);
    }
    .upcoming-events-title, .instagram-updates-title, .we-are-a-place-title {
        display: flex;
        justify-content: center;
        color: #282460;
        font-family: $font__title;
        text-transform: uppercase;
    }
    .wp-block-column {
        height: auto;
            img {
            width: 140px;
            margin: auto;
        }
        .wp-block-image {
        display: inline-block;
        display: flex;
        flex-direction: column;
        height: auto;
        }
        .wp-block-column img {
            width: 140px;
        }
        figcaption {
            text-align: center;
            margin-bottom: 0;
        }
    }
    .we-are-a-place {
        width: 1170px;
        margin: auto;
        margin-bottom: 6rem;
    }
    .we-are-a-place-buttons {
        display: inline !important;
        position: relative;
        left: 20%;
        .wp-block-button__link {
            font-size: 16px;
            width: 195px;
            border-radius: 10px
        }
    }
    .upcoming-events-title, .instagram-updates-title, .we-are-a-place-title {
        font-size: 2.8125rem;
    }
    .instalame-container {
        width: 1100px;
        margin: auto;
        margin-top: 3.125rem;
        .photo {
            width: 456px;
            height: 456px;
        }
        .photo:last-child {
            display: initial;
            margin-left: 2rem;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 2%;
        }
    }
        
    .follow-box {
        display: flex;
        width: 1150px;
        justify-content: flex-end;
        .follow-content {
            margin-top: 3.25rem;
            display: inline-flex;
            height: 64px;
        img {
        height: 64px;
        width: 64px;
        background-color: #fab568;
        border-radius: 100px;
        margin-right: 1.5rem;
        &:last-of-type {
            margin-right: 0;
        }
    }
}
}
    .follow-us {
        display: flex;
        color: #282460;
        font-family: $font__subtitle;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: auto;
        margin-right: 1.5rem;
    }
    .upcoming-events {
            width: 1170px;
            display: flex;
            margin-bottom: 6rem;
        }
        .hover-details {
            font-size: 1.25rem;
            .hover-title {
                font-weight: bold;
            }
        }
        .singular-event {
            height: 258px;
            width: 555px;
            &:first-of-type {
                margin-right: 2rem;
                &:hover {
                    .eventimg {
                        display: none
                    }
                    .hover-details {
                        display: block;
                    }
                }
            }
            &:last-of-type {
                margin-right: 2rem;
                &:hover {
                    .eventimg {
                        display: none
                    }
                    .hover-details {
                        display: block;
                    }
                }
            }
        }
        .date {
            width: 30%;
            font-size: 2.5rem;
            p {
                width: 60%
            }
            .date-text-container {
                margin-top: 3.5rem;
                display: block;
            }
            .date-text {
                line-height: 3rem;
                letter-spacing: 2.25px;
            }
            .day {
                display: flex;
                font-size: .9375rem;
                font-family: 'Lato-Regular';
                font-weight: 500;
                justify-content: center;
                margin-bottom: .5rem;
                letter-spacing: 1px;
            }
        }
        .location-box {
            height: 65px;
            bottom: 65px;
            font-size: 1.75rem;
            a {
                position: initial;
                margin: auto;
            }
        }
        .view-calendar-container {
            display: none;
        }
    
}