.instalame-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    .photo {
        width: 280px;
        height: auto;
    } 
    .photo:last-child {
        display: none;
    }

}
.events-widget {
    display: flex;
    justify-content: center;
}
@include desktop {
    .instalame-container {
        width: 1094px;
        .photo {
            width: 456px;
            height: 456px;
        }
        .photo:last-child {
            display: initial;
            margin-left: 2rem;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 2%;
        }
    
    }
}