/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  padding: $base__space-unit;
  @include flex(row, center, center);

  p {
    margin: 0;
  }

  .header-logo {
    width: 53px;

    @include tablet {
      width: 63px;
    }

    @include desktop {
      width: 129px;
    }
  }

  nav {
    button {
      display: none;
    }

    ul {

      li:hover,
      .current-menu-parent {
        border-bottom: 5px solid $color__highlight;

        li:hover,
        .current-menu-item {
          background: $color__highlight;
        }
      }
    }
  }
}

.header-extras {
  @include flex(row, space-between, null);

  .search-btn {
    @include desktop {
      display: block;
    }
  }

  .search-form {
    display: none;
  }

  .translate-icon {
    @include flex(row, null, baseline);
    color: $color__main;
    cursor: pointer;

    i {
      padding: 0 2px;

      @include desktop {
        font-size: $size__body * 1.5;
      }
    }

    .material-icons {
      // font-size: $size__body * 1.5;
    }
  }

  #google_language_translator {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;

    @include desktop {
      top: 100px;
      right: 300px;
    }
  }

  .side-menu .search-form {
    display: none;

    @include desktop {
      display: inline-flex;
      position: absolute;
      top: $base__space-unit * 4;
    }
  }

  .btn-open {
    margin-left: $base__space-unit / 2;

    @include desktop {
      display: none;
    }
  }
}