/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
  padding: $base__space-unit;
  @include flex(row, center, center);

  p {
    margin: 0;
  }

  .header-logo {
    width: 53px;
  }

  nav {
    button {
      display: none;
    }

    .search-form {
      display: none;
    }

    .btn-open {
      padding-left: $base__space-unit /2;
    }
  }
}


.goog-te-combo {
  color: pink !important;

  &:before {
    font-family: 'Material Icons';
    content: "\E927";
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
    // width:32px!important;
  }
}

.goog-te-menu-value {

  // color: #fff !important;
  &:before {
    font-family: 'Material Icons';
    content: "\E927";
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
    // width:32px!important;
  }
}


// #google_language_translator select.goog-te-combo {
//   width: 143px;
//   background: red;
//   box-shadow: none !important;
//   padding: 3px !important;
//   height: auto !important;
//   border: 1px solid lightgray !important;
//   border-radius: 0px !important;
// }