.site-main {
  margin: 0 auto;
  margin-bottom: 2.9375rem;
}

// .content-area {
//   background: url('../../assets/images/Wave_Background.png');
// }



.container {
  margin: 0 auto;

  @include desktop {
    width: $container-width;
  }
}

.hfeed {
  background: no-repeat bottom url('../../assets/images/Wave_Background.png');
  background-size: 100% 40%;

  @include tablet {
    background-size: 100% 50%;
  }

  @include desktop {
    background-size: 100% 35%;
  }
}

li {
  list-style: none;
}

a {
  color: $color__main;
  text-decoration: none;

  &:hover {
    color: $color__main;
  }

  &:visited {
    color: $color__main;
  }
}

.wp-block-button:hover {
  opacity: .5;
}

.menut-item:active {
  border-bottom: 5px #fab0bc solid;
}

.content-area {
  width: 100%;
  margin: 0 auto;

  @include desktop {
    width: $container-width;
  }
}