.site-main {
  margin: 0 auto;
  margin-bottom: 2.9375rem;
}

// Container
.container {
  margin: 0 auto;

  @include desktop {
    width: $container-width;
  }
}

// Google translator
.goog-te-banner-frame {
  display: none;
}

// #page
.hfeed {
  background: no-repeat bottom url('../../assets/images/Wave_Background.png');
  background-size: 100% 40%;

  @include tablet {
    background-size: 100% 50%;
  }

  @include desktop {
    background-size: 100% 35%;
  }
}

li {
  list-style: none;
}

a {
  color: $color__main;
  text-decoration: none;

  &:hover {
    color: $color__main;
  }

  &:visited {
    color: $color__main;
  }
}

.wp-block-button:hover {
  opacity: 0.5;
}

.tb-blue {
  color: #fff;
  background: $color__main;
  border-radius: 10px;

  td {
    padding-left: 10px;
    border: 0.5px solid #fff;
    font-size: 12px;

    @include tablet {
      font-size: $size__body;
    }
  }
}
h2 .community-programs-h2 {
  @include desktop {
    margin-bottom: 4rem;
  }
}