/*--------------------------------------------------------------
# Page No Sidebar Template  
--------------------------------------------------------------*/

.page-template-page-no-sidebar {
  .site-content {
    .content-area {
      max-width: 100%;
      .entry-content {
        @include flex(column, null, center);
        h2,
        p {
          @include tablet {
            width: 70%;
            margin: 0 0 $base__space-unit 0;
            text-align: left;

            .wp-block-image {
              @include tablet {
                align-self: flex-start;
                width: 70%;
                margin: 0 auto;
              }
            }
          }
        }

        h2 {
          margin-bottom: 0;
        }

        p:last-of-type {
          margin-bottom: $base__space-unit * 3;
        }

        .all-button {
          @include desktop {
          }

          a {
            font-size: $size__body;
          }
        }

        .wp-block-column > p {
          margin: 0;
        }
      }
    }
  }
}
