.center-page {
  text-align: center;
}

.page-template-programs-php {
  .site-main {
    .center-page {
      .attachment-large {
        width: 100vw;
      }

      .flower-icon {
        width: 20vw;
      }

      .post-122 {
        .entry-title {
          font-family: $font__title;
          font-size: $size__body;
          text-transform: uppercase;
          color: $color__main;
          letter-spacing: 1px;
        }

        .entry-content {
          h3 {
            font-family: $font__main;
            font-size: $size__breadcrumb;
            text-transform: uppercase;
            color: $color__main;
            letter-spacing: 1px;
          }

          p {
            color: $color__text-main;
          }
        }
      }
    }
  }
}

.page-template-programs-php .entry-content {
  display: flex;
  flex-direction: column;
  margin: 0 2.4rem;

  p {
    color: $color__main;

    @include desktop {
      text-align: left;
      font-size: 20px;
      line-height: 26px;
    }
  }

  h3 {
    @include desktop {
      font-family: $font__title;
      color: $color__main;
      font-size: 45px;
      line-height: 54px;
    }
  }
}

.page-template-programs-php .entry-title,
.page-template-programs-php .wp-block-image {
  @include desktop {
    display: none;
  }
}

.page-template-programs-php .site-content .content-area {
  max-width: 100%;
  flex: 0 0 100%;
}