.program-page{
   text-align: center;
}

.program-title{
    @include desktop{
        display: none;
    }
}

.page-template-programs-php .entry-content{
    display: flex;
    flex-direction: column;
    margin: 0 2.4rem;
    p{
        color:$color__main;
        
        @include desktop{
            text-align: left;
        }
    }
  
}

.page-template-programs-php .wp-block-image{
    @include desktop{
        display: none;
    }
}