/*--------------------------------------------------------------
# Side Menu
--------------------------------------------------------------*/

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: $color__background-body;
  overflow-x: hidden; // hides vertical scroll bar
  padding-top: $base__space-unit;
  transition: 0.5s;

  @include tablet {
    box-shadow: -8px 0 10px -6px $color__border;
  }

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 98%;
    transition: 0.3s;
    color: $color__main;
    display: flex;
    flex-direction: column;
    text-align: center;

    .side-nav-sub {
      display: none;
    }

    .side-item {
      border-top: $border__solid;
      padding: $base__space-unit / 2;

      &:first-child {
        border: 0;
      }

      &:last-child {
        border-bottom: $border__solid;
      }

      .side-btn {
        position: absolute;
        top: 50%;
        right: 0;
      }
    }

    .sub-item {
      padding: $base__space-unit / 3;

      &:first-child {
        border-top: $border__solid;
      }

      & a {
        font-family: $font__main;
        font-size: $size__body / 1.25;
      }

    }
  }

  a {
    text-decoration: none;
    color: $color__main;
    font-size: $size__body;
    font-family: $font__subtitle;

    &:hover {
      color: $color__highlight;
    }
  }

  .side-menu-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    fieldset {
      border-color: $color__background-pre;
      border-radius: $size__body / 1.5;
      background: $color__background-pre;
    }
  }

  .btn-close {
    // position: absolute;
    // top: $base__space-unit;
    // right: $base__space-unit;
    font-size: $size__body * 2;
    color: $color__main;
  }
}

// 
.accordion-toggle,
.accordion-content {
  cursor: pointer;
  position: relative;
  // letter-spacing: 1px;
}

.accordion-content {
  display: none;
}

.accordion-toggle div:before,
.accordion-toggle div:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 15px;
  height: 2px;
  margin-top: -1px;
  background-color: $color__main;
  transform-origin: 50% 50%;
  transition: all 0.3s ease-out;
}

.accordion-toggle div:before {
  transform: rotate(-90deg);
  opacity: 1;
  z-index: 2;
}

.accordion-toggle.active-tab {
  background: $color__highlight;
  transition: all 0.3s ease;
}

.side-link a.active,
.accordion-toggle a:hover.active {
  color: $color__main;
}

.accordion-toggle div.active:before {
  transform: rotate(0deg);
}

.accordion-toggle div.active:after {
  transform: rotate(180deg);
  // opacity: 0;
}