#sidebar-2 {
  display: none;

  @include desktop {
    display: block;
  }
}

#nav_menu-2 {
  display: block;
}

.widget-sidebar {
  @include tablet {
    border-right: $border__solid;
    border-color: $color__main;
    margin-bottom: $base__space-unit * 2;

    ul {
      text-align: left;

      .current-menu-item {
        background: $color__highlight;
        color: $color__main;
      }
    }

    a {
      @include tablet {
        font-size: 0.8rem;
        line-height: 1.5rem;
        font-family: $font__sidebar;
        display: flex;
        position: relative;
        padding: $base__space-unit/3 $base__space-unit * 2 $base__space-unit/3 $base__space-unit;
        margin-bottom: $base__space-unit/6;
        text-transform: uppercase;

        &::after {
          content: '';
          position: absolute;
          background: url('../../assets/icons/side-nav-arrow.png') no-repeat;
          width: 1rem;
          height: 1rem;
          right: 2px;
          top: 50%;
          transform: translateY(-50%);
          padding-right: $base__space-unit * 1.5;
        }

        &:hover {
          background: $color__highlight;
        }
      }

      @include mid-tablet {
        font-size: 1.1rem;
      }

      @include desktop {
        font-size: 1.25rem;
      }
    }
  }
}

li .menu-item a {
  display: block;
  position: relative;

  &::after {
    content: '';
    background: url('../../assets/icons/side-nav-arrow.png');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.widget-sidebar {
  @media screen and (max-width: 600px) {
    width: 100%;
    margin: 1rem;
    .menu {
      
display: grid;

flex-wrap: wrap;

border-bottom: #282460 solid 2px;

grid-template-columns: 1fr 1fr 1fr;

border-top: #282460 solid 2px;

    }
    li {

margin-bottom: .5rem;

margin-left: 1.5rem;

margin-top: .5rem;
    }
    aside {
      width: 100%;
    }
  }
} 
@media screen and (max-width: 600px) {
  h2 {
    font-size: 30px;
  }
}