/*--------------------------------------------------------------
# Side Menu
--------------------------------------------------------------*/

// .side-nav {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   right: 0;
//   background-color: #111;
//   opacity: 0.9;
//   overflow-x: hidden;
//   padding-top: 60px;
//   transition: 0.5s;
// }

// .side-nav a {
//   padding: 10px 10px 10px 30px;
//   text-decoration: none;
//   font-size: 22px;
//   color: #ccc;
//   display: block;
//   transition: 0.3s;
// }

// .side-nav a:hover {
//   color: #fff;
// }

// .side-nav .btn-close {
//   position: absolute;
//   top: 0;
//   right: 22px;
//   font-size: 36px;
//   margin-left: 50px;
// }

.side-nav {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // text-align: center;

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: $color__background-body;
  overflow-x: hidden; // prevents scrolling
  padding-top: $base__space-unit * 4;
  transition: 0.5s;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 99%;
    transition: 0.3s;

    .side-item {
      border-bottom: $border__solid;
      padding: $base__space-unit / 2;
    }
  }

  a {
    text-decoration: none;
  }

  .btn-close {
    position: absolute;
    top: $base__space-unit;
    right: $base__space-unit;
    font-size: $size__body * 2;
    color: $color__main;
  }
}