/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
  color: $color__main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: $color__main;
  font-family: $font__title;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  font-size: $size__body * 2.25;
}

h2 {
  font-size: $size__body * 2;
}

h3 {
  font-size: $size__body * 1.5;
  font-family: $font__subtitle;
}

h4 {
  font-size: $size__body * 0.88;
  margin-bottom: 0;
}

/* Copy */

p {
  // margin-bottom: $base__space-unit;
  font-style: normal;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 $base__space-unit;
}

address {
  margin: 0 0 $base__space-unit;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  @include font-size(0.9375);
  line-height: $font__line-height-pre;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.6rem;
}

code,
kbd,
tt,
var {
  font-family: $font__code;
  @include font-size(0.9375);
}

abbr,
acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}