// Structure

$base__space-unit: 1.5rem;

$tablet-width: 600px;
$mid-tablet-width: 800px;
$desktop-width: 1080px;
$container-width: 1170px;

$border__solid: 1px solid #ddd;

// Colors

$color__background-body: #fff;
$color__text-main: #222222;
$color__main: #282460;
$color__highlight: #fab0bc;
$color__button: #fab568;
$color__border: #ddd;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #555;

$color__link: #282460;
$color__link-visited: #282460;
$color__link-hover: #fab0bc;

// Typography

$font__main: 'Lato-Regular';
$font__body: 'Lato-Regular';
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__breadcrumb: 'Lato-Regular';
$font__sidebar: 'Lato-Bold';
$font__title: 'Lato-Black';
$font__subtitle: 'Lato-Bold';

$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;

$size__body: 1.25rem;
$size__sidebar: 1.25rem;
$size__breadcrumb: 0.9375rem;
$size__title: 4.063rem;
$size__subtitle: 1.875rem;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
