// Structure

$base__space-unit: 1.5rem;

$tablet-width: 600px;
$desktop-width: 1080px;


// Colors

$color__background-body: #fff;
$color__text-main: #222222;
$color__main: #282460;
$color__highlight: #fab0bc;
$color__button: #fab568;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__body: 'Lato-Regular';
$font__sidebar: 'Lato-Regular';
$font__breadcrumb: 'Late-Regular';
$font__title: 'Lato-Black';
$font__subtitle: 'Lato-Bold';

$size__body: '1.25rem';
$size__sidebar: '1.25rem';
$size__breadcrumb: '0.9375rem';
$size__title: '4.063rem';
$size__subtitle: '1.875rem';

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
